.item-card-img-top {
	height: 9rem;
	width: 100%;
	background-image: url("/darktiles.jpg");
	background-size: 25%;
	text-align: center;
	
	img {
		&.item-card-image-full {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		
		&.item-card-image-placeholder {
			height: 7rem;
		}
	}
}